/* Navbar Item - media query */
@media screen and (max-width:950px) {
    .m-nav-item{
        font-size: 13px;
    }
}
@media screen and (max-width:830px) {
    .m-nav-item{
        font-size: 11px;
    }
}

/* Header Title - "The Best App In Universe" */
@media screen and (max-width:900px) {
    .header-title{
        font-size: 40px;
    }
}
@media screen and (max-width:320px) {
    .header-title{
        font-size: 30px;
    }
}

/* Title of Feature Section - We Believe that Interior beautifies the Total Architecture */
@media screen and (max-width:991px) {
    .fs-responsive{
        font-size: 30px;
    }
}

@media screen and (max-width:400px) {
    .fs-responsive{
        font-size: 22px;
    }
}

/* Icon of Video */
@media screen and (min-width:1000px) {
    .fs-icon{
        font-size: 70px;
    }
}
@media screen and (max-width:1000px) {
    .fs-icon{
        font-size: 40px;
    }
}