@font-face {
    font-family: "vazir";
    src: url("../font/Vazir.eot") format("eot"), url("../font/Vazir.woff") format("woff"), url("../font/Vazir.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: "vazir";
}

.myHeader {
    height: 120vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='900' preserveAspectRatio='none' viewBox='0 0 1600 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1072%26quot%3b)' fill='none'%3e%3crect width='1600' height='900' x='0' y='0' fill='rgba(163%2c 0%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c699.833C133.95%2c698.672%2c280.854%2c679.994%2c377.186%2c586.913C470.162%2c497.075%2c447.137%2c345.929%2c491.822%2c224.608C532.074%2c115.322%2c610.503%2c25.272%2c626.536%2c-90.082C646.507%2c-233.768%2c698.743%2c-414.225%2c594.661%2c-515.277C488.232%2c-618.607%2c307.631%2c-534.35%2c159.572%2c-543.451C49.17%2c-550.237%2c-59.753%2c-595.968%2c-165.01%2c-561.974C-269.035%2c-528.377%2c-346.124%2c-444.388%2c-413.557%2c-358.349C-478.419%2c-275.59%2c-523.077%2c-181.253%2c-544.14%2c-78.236C-566.191%2c29.609%2c-562.884%2c138.243%2c-536.968%2c245.225C-506.415%2c371.347%2c-480.455%2c509.64%2c-381.413%2c593.491C-278.597%2c680.537%2c-134.71%2c701.001%2c0%2c699.833' fill='%237200b3'%3e%3c/path%3e%3cpath d='M1600 1639.228C1737.3600000000001 1629.054 1787.21 1445.999 1901.3020000000001 1368.836 2011.357 1294.404 2184.464 1312.115 2252.449 1197.964 2320.283 1084.068 2243.181 941.023 2234.895 808.716 2225.73 662.384 2293.493 492.986 2201.1639999999998 379.08900000000006 2109.027 265.428 1934.753 262.202 1788.497 258.038 1665.477 254.53599999999994 1560.012 327.29600000000005 1440.69 357.438 1315.0810000000001 389.168 1169.975 358.74800000000005 1068.914 439.811 962.782 524.941 883.879 662.2529999999999 891.308 798.105 898.584 931.159 1036.943 1011.702 1106.408 1125.416 1165.383 1221.9569999999999 1190.208 1334.116 1268.5810000000001 1415.699 1362.8029999999999 1513.78 1464.366 1649.274 1600 1639.228' fill='%23bf4dff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1072'%3e%3crect width='1600' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.my-btn {
    border: 0;
    position: relative;
}

.my-btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #e100ff33;
    top: 0;
    left: 0;
    transition: width 300ms;
    border-radius: 4px;
}

.my-btn:hover.my-btn::before {
    content: "";
    width: 100%;
}

.my-btn:focus {
    box-shadow: none;
}

.m-nav-item {
    position: relative;
}

.m-nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: crimson;
    transition: width 300ms;
}

.m-nav-item:hover.m-nav-item::before {
    width: 100%;
}

.bg-gradient-purple {
    background: rgb(106, 46, 255);
    background: linear-gradient( 270deg, rgba(106, 46, 255, 1) 0%, rgba(208, 78, 255, 1) 100%);
}

.btn-purple-gradient {
    background-image: -webkit-gradient( linear, left top, right top, from(#bc2bff), color-stop(51%, #7249fb), to(#bc2bff));
    background-image: -webkit-linear-gradient( left, #bc2bff 0%, #7249fb 51%, #bc2bff 100%);
    background-image: -o-linear-gradient( left, #bc2bff 0%, #7249fb 51%, #bc2bff 100%);
    background-image: linear-gradient( to right, #bc2bff 0%, #7249fb 51%, #bc2bff 100%);
    background-size: 200% auto;
    z-index: 2;
    display: inline-block;
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
    text-align: center;
    color: #fff;
}

.btn-purple-gradient:hover {
    background-position: right center;
    color: #fff;
}

.m-card-title {
    font-size: 120px;
}

.btn-card {
    background-color: transparent;
    border: 2px solid #8400ff;
    color: #7249fb;
    padding-top: 10px;
    transition: all 300ms;
}

.btn-card:hover {
    background-color: #8400ff;
    border: 2px solid #8400ff;
    color: white;
    padding-top: 10px;
}

.m-card {
    transition: box-shadow 200ms, margin-top 300ms;
}

.m-card:hover {
    box-shadow: 0px 0px 30px #dddddd;
    margin-top: -6px;
}

.m-card2 {
    transition: box-shadow 200ms, margin-top 300ms;
}

.m-card2:hover {
    box-shadow: 0px 0px 30px #dddddd;
}

.m-card2 h4 {
    transition: color 200ms;
}

.m-card2:hover.m-card2 h4 {
    color: #bc2bff;
}

.btn-download {
    transform: scale(1.26);
    transition: transform 300ms, background-color 300ms;
}

.btn-download:hover {
    transform: scale(1.22);
    background-color: #fff;
}

.btn-download i {
    transition: color 300ms;
}

.btn-download:hover i {
    color: #7700ff;
}

.bg-light-my {
    background-color: aliceblue;
}

.m-card3 .date-title {
    transition: background 300ms, color 300ms;
}

.m-card3 {
    transition: background-color 300ms, box-shadow 300ms, margin-top 300ms;
}

.m-card3:hover {
    background-color: white;
    box-shadow: 0 0 30px #dddddd;
    margin-top: -10px;
}

.m-card3:hover.m-card3 .date-title {
    background: rgb(106, 46, 255);
    background: linear-gradient(270deg, #6a2eff 0%, #d04eff 100%);
    color: white;
}

.m-card3:hover.m-card3 .m-card-title {
    background: -webkit-linear-gradient(180deg, #6a2eff, #d04eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

.m-card-title {
    font-size: 25px;
}

.footer-title {
    border-bottom: 3px solid #bc2bff;
    padding-bottom: 20px;
}

.ulItem a {
    color: white;
    text-decoration: none;
    transition: color 200ms;
}

.ulItem a:hover {
    color: #eb9dff;
}

.authorName {
    background: -webkit-linear-gradient(180deg, #6a2eff, #d04eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}

.icon-link {
    color: white;
}

.icon-link:hover {
    background: -webkit-linear-gradient(180deg, #6a2eff, #d04eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}